#root {
  font-family: "Inter", sans-serif;
  max-width: 1600px;
  margin: 0 auto;

}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

.active{
  color: #FF444A;
  text-decoration: underline;
  font-weight: 700;

}